# package management
node_modules
.corepack

.cache
.pnpm-store

# typescript
**/*.tsbuildinfo

# infrastructure
.env*
!.envrc
!.env.example
build
dist

*.log*

# nixos
.direnv

.npmrc
.git
.rollup.cache
.metrics

*.db*
